<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIDS</title>

    <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/static\styles.css">

</head>
<body>

    <!-- Links to include jquery for bootstrap -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    <div class="login">
        <h1> Network Intrusion Detection System</h1>
    
         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" class="item" name="src_bytes" placeholder="src_bytes" required="required" />
            <input type="text" class="item" name="dst_bytes" placeholder="dst_bytes" required="required" />
            <input type="text" class="item" name="logged_in" placeholder="logged_in" required="required" />
            <input type="text" class="item" name="count" placeholder="count" required="required" />
            <input type="text" class="item" name="srv_count" placeholder="srv_count" required="required" />
            
            <input type="text" class="item" name="dst_host_srv_count" placeholder="dst_host_srv_count" required="required" />
            <input type="text" class="item" name="dst_host_diff_srv_rate" placeholder="dst_host_diff_srv_rate" required="required" />
            <input type="text" class="item" name="dst_host_same_src_port_rate" placeholder="dst_host_same_src_port_rate" required="required" />
            <input type="text" class="item" name="dst_host_serror_rate" placeholder="dst_host_serror_rate" required="required" />
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
    
       <br>
       <br>
       <h1>{{ prediction_text }}</h1>
    
     </div>
</body>
</html>